# EXERCÍCIO 1

## Problema

A empresa em que você trabalha está com uma nova funcionalidade implementada no site, que faz com que seja gerada uma lista com dados dos clientes conforme a interação deles com a ferramenta. A lista gerada tem o seguinte padrão:

```python
[
    ['Pedro', 32, 1.83, True],
    .
    . # Outros elementos da lista.
    .
    ['Guilherme', 23, 1.79, False],
]
```

Os dados dessa lista representam as seguintes informações:
* Primeiro elemento = `nome`
* Segundo elemento = `idade`
* Terceiro elemento = `altura`
* Quarto elemento = `se o cliente é casado ou não`

Essa nova funcionalidade tem como finalidade gerar um conjunto de novos *leads* para a equipe de vendas. Além dessa lista, a empresa também possuí um relatório com os clientes já registrados na base de dados. O padrão desse relatório é o seguinte:

```python
[
    {'id': 1, 'name': 'Pedro', 'age': 32, 'height': 1.83, 'married': True},
    .
    . # Outros elementos da lista.
    .
    {'id': 50, 'name': 'Guilherme', 'age': 23, 'height': 1.79, 'married': False},
]
```

Seu chefe pediu a sua ajuda para criar uma função que receba ambas as listas e que unifique ambas em uma estrutura com o seguinte padrão:

```python
[
    {'nome': 'Pedro', 'idade': 32, 'altura': 1.83, 'casado': True},
    .
    . # Outros elementos da lista.
    .
    {'nome': 'Guilherme', 'idade': 23, 'altura': 1.79, 'casado': False},
]
```

Sua função deverá receber dois argumentos:
1. A lista gerada pelo site (Obrigatório)
2. A lista gerada pelo sistema legado (Opcional)

Sua função deve verificar se a lista gerada pelo `sistema legado` está vazia. Se estiver vazia, a função deve somente fazer as transformações necessárias para gerar a estrutura solicitada com os dados da lista gerada pelo Site. Se a lista gerada pelo sistema legado não estiver vazia, sua função deve unificar os dados de ambas as listas na estrutura solicitada.

Sua função também deve verificar se há dados faltantes nos clientes de ambas as listas, e caso haja, o cliente em questão deve ser ignorado e não deve ser selecionado na lista gerada. Além disso, a sua função deve também verificar se existem registros duplicados nas listas. Caso houver, considerar somente os dados do registro da lista gerada pelo site. Para verificar se o registro é duplicado, as informações de `nome`, `altura` e `casamento` devem ser iguais em ambas as listas.

Lista de clientes gerada pelo `site`:

```python
site = [
     ['Sebastian Gonzalez', 87, 1.67, True ],
     ['Chase Mclean',       20, 1.64, True ],
     ['Moses Fernandez',    27, 1.67, True ],
     ['Skyler Levy',        1.63, False],
     ['Patrick Kemp',       72, 1.74, True ],
     ['Hadassah Lucas',     33, 1.62, True ],
     ['Erasmus Fuller',     23, 1.99, False],
     ['Lamar Mccall',       51, 1.84, True ],
     ['Nayda Aguilar',      44, 1.76, True ],
     # ['Lucy Heath',         85, 1.84, True ],
     ['Lucy Heath',         85, 1.84 ],
     ['Hyatt Morris',       52, 1.56, False],
     ['Devin Patrick',      70, 1.82, False],
     ['Kaseem Valenzuela',  63, 1.91, False],
     ['Kenyon Jennings',    81, 1.88, True ],
     ['Vincent Hahn',       20, 1.96, False],
     ['Armando Reynolds',   52, 1.77, False],
     ['Harriet Herring',    85, 1.76, True ],
     ['Mikayla Dodson',     73, 1.60, False],
     ['Solomon Welch',      25, 1.91, True ],
     ['Randall Juarez',     42, 1.57, False],
     ['Hilel Dunlap',       89, 1.95, True ],
     ['Camilla Harvey',     19, 1.62, True ],
     ['Harding Cameron',    24, 1.90, False],
     ['Cullen Mejia',       28, 1.58],
     ['Isaiah Black',       18, 1.68, False],
]
```

Lista de clientes gerada pelo `sistema legado`:
```python
legado = [
     {'id': 21, 'name': 'Nayda Aguilar',      'age': 44, 'height': 1.76, 'married': True },
     {'id': 22, 'name': 'Tara Hyde',          'age': 48, 'height': 1.75, 'married': True },
     {'id': 23, 'name': 'Hyatt Morris',       'height': 1.56, 'married': False},
     {'id': 24, 'name': 'Olivia Cameron',     'age': 34, 'height': 1.86, 'married': True },
     {'id': 26, 'name': 'Ulysses Becker',     'age': 88, 'height': 1.54, 'married': True },
     {'id': 33, 'name': 'Venus Graves',       'age': 43, 'height': 1.56, 'married': False},
     {'id': 34, 'name': 'Hadassah Lucas',     'age': 33, 'height': 1.62, 'married': True },
     {'id': 35, 'name': 'Kaseem Valenzuela',  'age': 63, 'height': 1.91, 'married': False},
     {'id': 41, 'name': 'Adam Terrell',       'age': 27, 'height': 1.57, 'married': True },
     {'id': 43, 'name': 'Jordan Young',       'age': 39, 'height': 1.52, 'married': True },
     {'id': 46, 'name': 'Ryan Mccarthy',      'age': 26, 'married': True },
     {'id': 48, 'name': 'Gisela Odonnell',    'age': 76, 'height': 1.54, 'married': False},
     {'id': 49, 'name': 'Randall Juarez',     'age': 42, 'height': 1.57, 'married': False},
     {'id': 56, 'name': 'Desirae Whitfield',  'age': 42, 'height': 1.70, 'married': True },
     {'id': 57, 'name': 'Maile Mckee',        'age': 32, 'height': 1.70, 'married': True },
     {'id': 58, 'name': 'Hilel Dunlap',       'age': 89, 'height': 1.95, 'married': True },
     {'id': 63, 'name': 'Armando Reynolds',   'age': 52, 'height': 1.77, 'married': False},
     {'id': 65, 'name': 'Dylan Mason',        'age': 29, 'height': 1.77, 'married': True },
     {'id': 66, 'name': 'Colin Decker',       'age': 27, 'height': 1.89, 'married': True },
     {'id': 67, 'name': 'Yeo Wilkins',        'age': 31, 'height': 1.81, 'married': False},
     {'id': 68, 'name': 'Candice Charles',    'age': 18, 'height': 1.84, 'married': True },
     {'id': 69, 'name': 'Erasmus Fuller',     'age': 23, 'height': 1.99, 'married': False},
     {'id': 78, 'name': 'Evelyn Vance',       'age': 81, 'height': 1.92, 'married': True },
     {'id': 79, 'name': 'Sebastian Gonzalez', 'age': 87, 'height': 1.67 },
     {'id': 80, 'name': 'Chase Mclean',       'age': 21, 'height': 1.64, 'married': True },
]

```

## Resolução

In [9]:
site = [
     ['Sebastian Gonzalez', 87, 1.67, True ],
     ['Chase Mclean',       20, 1.64, True ],
     ['Moses Fernandez',    27, 1.67, True ],
     ['Skyler Levy',        1.63, False],
     ['Patrick Kemp',       72, 1.74, True ],
     ['Hadassah Lucas',     33, 1.62, True ],
     ['Erasmus Fuller',     23, 1.99, False],
     ['Lamar Mccall',       51, 1.84, True ],
     ['Nayda Aguilar',      44, 1.76, True ],
#      ['Lucy Heath',         85, 1.84 ],
     ['Lucy Heath',         85, 1.84, True ],
     ['Hyatt Morris',       52, 1.56, False],
     ['Devin Patrick',      70, 1.82, False],
     ['Kaseem Valenzuela',  63, 1.91, False],
     ['Kenyon Jennings',    81, 1.88, True ],
     ['Vincent Hahn',       20, 1.96, False],
     ['Armando Reynolds',   52, 1.77, False],
     ['Harriet Herring',    85, 1.76, True ],
     ['Mikayla Dodson',     73, 1.60, False],
     ['Solomon Welch',      25, 1.91, True ],
     ['Randall Juarez',     42, 1.57, False],
     ['Hilel Dunlap',       89, 1.95, True ],
     ['Camilla Harvey',     19, 1.62, True ],
     ['Harding Cameron',    24, 1.90, False],
     ['Cullen Mejia',       28, 1.58],
     ['Isaiah Black',       18, 1.68, False],
]

In [10]:
legado = [
     {'id': 21, 'name': 'Nayda Aguilar',      'age': 44, 'height': 1.76, 'married': True },
     {'id': 22, 'name': 'Tara Hyde',          'age': 48, 'height': 1.75, 'married': True },
     {'id': 23, 'name': 'Hyatt Morris',       'height': 1.56, 'married': False},
     {'id': 24, 'name': 'Olivia Cameron',     'age': 34, 'height': 1.86, 'married': True },
     {'id': 26, 'name': 'Ulysses Becker',     'age': 88, 'height': 1.54, 'married': True },
     {'id': 33, 'name': 'Venus Graves',       'age': 43, 'height': 1.56, 'married': False},
     {'id': 34, 'name': 'Hadassah Lucas',     'age': 33, 'height': 1.62, 'married': True },
     {'id': 35, 'name': 'Kaseem Valenzuela',  'age': 63, 'height': 1.91, 'married': False},
     {'id': 41, 'name': 'Adam Terrell',       'age': 27, 'height': 1.57, 'married': True },
     {'id': 43, 'name': 'Jordan Young',       'age': 39, 'height': 1.52, 'married': True },
     {'id': 46, 'name': 'Ryan Mccarthy',      'age': 26, 'married': True },
     {'id': 48, 'name': 'Gisela Odonnell',    'age': 76, 'height': 1.54, 'married': False},
     {'id': 49, 'name': 'Randall Juarez',     'age': 42, 'height': 1.57, 'married': False},
     {'id': 56, 'name': 'Desirae Whitfield',  'age': 42, 'height': 1.70, 'married': True },
     {'id': 57, 'name': 'Maile Mckee',        'age': 32, 'height': 1.70, 'married': True },
     {'id': 58, 'name': 'Hilel Dunlap',       'age': 89, 'height': 1.95, 'married': True },
     {'id': 63, 'name': 'Armando Reynolds',   'age': 52, 'height': 1.77, 'married': False},
     {'id': 65, 'name': 'Dylan Mason',        'age': 29, 'height': 1.77, 'married': True },
     {'id': 66, 'name': 'Colin Decker',       'age': 27, 'height': 1.89, 'married': True },
     {'id': 67, 'name': 'Yeo Wilkins',        'age': 31, 'height': 1.81, 'married': False},
     {'id': 68, 'name': 'Candice Charles',    'age': 18, 'height': 1.84, 'married': True },
     {'id': 69, 'name': 'Erasmus Fuller',     'age': 23, 'height': 1.99, 'married': False},
     {'id': 78, 'name': 'Evelyn Vance',       'age': 81, 'height': 1.92, 'married': True },
     {'id': 79, 'name': 'Sebastian Gonzalez', 'age': 87, 'height': 1.67 },
     {'id': 80, 'name': 'Chase Mclean',       'age': 21, 'height': 1.64, 'married': True },
]

In [11]:
resp_site = [
     {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True },
     {'nome': 'Chase Mclean',       'idade': 20, 'altura': 1.64, 'casado': True },
     {'nome': 'Moses Fernandez',    'idade': 27, 'altura': 1.67, 'casado': True },
     {'nome': 'Patrick Kemp',       'idade': 72, 'altura': 1.74, 'casado': True },
     {'nome': 'Hadassah Lucas',     'idade': 33, 'altura': 1.62, 'casado': True },
     {'nome': 'Erasmus Fuller',     'idade': 23, 'altura': 1.99, 'casado': False},
     {'nome': 'Lamar Mccall',       'idade': 51, 'altura': 1.84, 'casado': True },
     {'nome': 'Nayda Aguilar',      'idade': 44, 'altura': 1.76, 'casado': True },
     {'nome': 'Hyatt Morris',       'idade': 52, 'altura': 1.56, 'casado': False},
     {'nome': 'Devin Patrick',      'idade': 70, 'altura': 1.82, 'casado': False},
     {'nome': 'Kaseem Valenzuela',  'idade': 63, 'altura': 1.91, 'casado': False},
     {'nome': 'Kenyon Jennings',    'idade': 81, 'altura': 1.88, 'casado': True },
     {'nome': 'Vincent Hahn',       'idade': 20, 'altura': 1.96, 'casado': False},
     {'nome': 'Armando Reynolds',   'idade': 52, 'altura': 1.77, 'casado': False},
     {'nome': 'Harriet Herring',    'idade': 85, 'altura': 1.76, 'casado': True },
     {'nome': 'Mikayla Dodson',     'idade': 73, 'altura': 1.60, 'casado': False},
     {'nome': 'Solomon Welch',      'idade': 25, 'altura': 1.91, 'casado': True },
     {'nome': 'Randall Juarez',     'idade': 42, 'altura': 1.57, 'casado': False},
     {'nome': 'Hilel Dunlap',       'idade': 89, 'altura': 1.95, 'casado': True },
     {'nome': 'Camilla Harvey',     'idade': 19, 'altura': 1.62, 'casado': True },
     {'nome': 'Harding Cameron',    'idade': 24, 'altura': 1.90, 'casado': False},
     {'nome': 'Isaiah Black',       'idade': 18, 'altura': 1.68, 'casado': False},
]

In [12]:
resp_merg = [
     {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True },
     {'nome': 'Nayda Aguilar',      'idade': 44, 'altura': 1.76, 'casado': True },
     {'nome': 'Chase Mclean',       'idade': 20, 'altura': 1.64, 'casado': True },
     {'nome': 'Tara Hyde',          'idade': 48, 'altura': 1.75, 'casado': True },
     {'nome': 'Moses Fernandez',    'idade': 27, 'altura': 1.67, 'casado': True },
     {'nome': 'Olivia Cameron',     'idade': 34, 'altura': 1.86, 'casado': True },
     {'nome': 'Patrick Kemp',       'idade': 72, 'altura': 1.74, 'casado': True },
     {'nome': 'Ulysses Becker',     'idade': 88, 'altura': 1.54, 'casado': True },
     {'nome': 'Hadassah Lucas',     'idade': 33, 'altura': 1.62, 'casado': True },
     {'nome': 'Venus Graves',       'idade': 43, 'altura': 1.56, 'casado': False},
     {'nome': 'Erasmus Fuller',     'idade': 23, 'altura': 1.99, 'casado': False},
     {'nome': 'Lamar Mccall',       'idade': 51, 'altura': 1.84, 'casado': True },
     {'nome': 'Kaseem Valenzuela',  'idade': 63, 'altura': 1.91, 'casado': False},
     {'nome': 'Adam Terrell',       'idade': 27, 'altura': 1.57, 'casado': True },
     {'nome': 'Hyatt Morris',       'idade': 52, 'altura': 1.56, 'casado': False},
     {'nome': 'Jordan Young',       'idade': 39, 'altura': 1.52, 'casado': True },
     {'nome': 'Devin Patrick',      'idade': 70, 'altura': 1.82, 'casado': False},
     {'nome': 'Gisela Odonnell',    'idade': 76, 'altura': 1.54, 'casado': False},
     {'nome': 'Randall Juarez',     'idade': 42, 'altura': 1.57, 'casado': False},
     {'nome': 'Kenyon Jennings',    'idade': 81, 'altura': 1.88, 'casado': True },
     {'nome': 'Desirae Whitfield',  'idade': 42, 'altura': 1.70, 'casado': True },
     {'nome': 'Vincent Hahn',       'idade': 20, 'altura': 1.96, 'casado': False},
     {'nome': 'Maile Mckee',        'idade': 32, 'altura': 1.70, 'casado': True },
     {'nome': 'Armando Reynolds',   'idade': 52, 'altura': 1.77, 'casado': False},
     {'nome': 'Hilel Dunlap',       'idade': 89, 'altura': 1.95, 'casado': True },
     {'nome': 'Harriet Herring',    'idade': 85, 'altura': 1.76, 'casado': True },
     {'nome': 'Mikayla Dodson',     'idade': 73, 'altura': 1.60, 'casado': False},
     {'nome': 'Dylan Mason',        'idade': 29, 'altura': 1.77, 'casado': True },
     {'nome': 'Solomon Welch',      'idade': 25, 'altura': 1.91, 'casado': True },
     {'nome': 'Colin Decker',       'idade': 27, 'altura': 1.89, 'casado': True },
     {'nome': 'Yeo Wilkins',        'idade': 31, 'altura': 1.81, 'casado': False},
     {'nome': 'Candice Charles',    'idade': 18, 'altura': 1.84, 'casado': True },
     {'nome': 'Camilla Harvey',     'idade': 19, 'altura': 1.62, 'casado': True },
     {'nome': 'Harding Cameron',    'idade': 24, 'altura': 1.90, 'casado': False},
     {'nome': 'Evelyn Vance',       'idade': 81, 'altura': 1.92, 'casado': True },
     {'nome': 'Isaiah Black',       'idade': 18, 'altura': 1.68, 'casado': False},
     {'nome': 'Chase Mclean',       'idade': 21, 'altura': 1.64, 'casado': True },
]

In [62]:
# Função Auxiliar para DEBUG
# Função que mostra qual o elemento que está
# a mais na lista de resposta
# A lista do parametro 'r' deve sempre maior
# maior que a lista do parametro 'rm'
def out(r, rm):

    o = []

    for elemento in r:
        if elemento not in rm:
            o.append(elemento)

    return o

In [2]:
def limpa_aux(dataset, qtd):
    
    resposta = []
    
    for item in dataset:
        if(len(item) == qtd):
            resposta.append(item)
            
    return resposta

In [3]:
def traduz_chave(dataset):
    resposta = []
    
    for item in dataset:
        item_dicionario = {}
        
        item_dicionario['nome'] = item['name']
        item_dicionario['idade'] = item['age']
        item_dicionario['altura'] = item['height']
        item_dicionario['casado'] = item['married']

        resposta.append(item_dicionario)
        
    
    return resposta

In [4]:
def limpa_dataset(dataset):
    
    # Resposta
    lista_limpa = []
    
    if isinstance(dataset[0], list):
        
        lista_limpa = limpa_aux(dataset, 4)
        
    else:
        
        lista_limpa = limpa_aux(dataset, 5)
        lista_limpa = traduz_chave(lista_limpa)
    
    return lista_limpa

In [5]:
def gera_dicionario(lista):
    lista_dicionario = []
    
    for item in lista:
        lista_dicionario.append({'nome': item[0], 'idade': item[1], 'altura': item[2], 'casado': item[3]})
        
    return lista_dicionario

In [14]:
def une_dataset(lista_site, lista_legado):

    resposta = []
    
    
    for elemento_lista in lista_site:
        
        for elemento_legado in lista_legado:
            print(f'elemento do site = {elemento_lista}')
            print(f'elemento do legado = {elemento_legado}')
        
            if(
                elemento_lista['nome'] != elemento_legado['nome'] and
                elemento_lista['altura'] != elemento_legado['altura'] and
                elemento_lista['casado'] != elemento_legado['casado'] and
                elemento_lista not in reposta
            ):
                print('entrei')
                break
                
                
            print('==============================')
    

#     if(len(lista_site) > len(lista_legado)):
        
#         for index, legado_item in enumerate(lista_legado):

#             if lista_site[index] not in resposta:
#                 resposta.append(lista_site[index])

#             if legado_item not in resposta:
#                 resposta.append(legado_item)
                    
#         if(lista_site[len(lista_site) - 1] not in resposta):
#             resposta.append(lista_site[-1])
        
            
#     elif len(lista_site) < len(lista_legado):
        
#         for index, site_item in enumerate(lista_site):
            
#             if(site_item not in resposta):
#                 resposta.append(site_item)

#             if(legado_item[index] not in resposta):
#                 resposta.append(lista_legado[index])
                    
#         if(lista_legado[-1] not in resposta):
#             resposta.append(lista_legado[-1])
    
#     else:
        
#         for site_item, legado_item in zip(lista_site, lista_legado):
            
#             if(site_item not in resposta):
#                 resposta.append(site_item)
                    
#             if(legado_item not in resposta):
#                 resposta.append(legado_item)
    
#     return resposta

In [15]:
# Função que executará as outras funções
def gera_leads(lista_site, lista_legado = None):
    
    resposta = []
    
    lista_site_limpa = limpa_dataset(lista_site)
    lista_site_ok = gera_dicionario(lista_site_limpa)
    
    if lista_legado != None:
        lista_legado_limpa = limpa_dataset(lista_legado)
        resposta = une_dataset(lista_site_ok, lista_legado_limpa)
    else:
        resposta = lista_site_ok
        
    return resposta

In [ ]:
            if(
                elemento_lista['nome'] != elemento_legado['nome'] and # True
                elemento_lista['altura'] != elemento_legado['altura'] and # true
                elemento_lista['casado'] != elemento_legado['casado'] and # False
                elemento_lista not in reposta
            ):

In [16]:
resp = gera_leads(site, legado)
resp[-1]

elemento do site = {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True}
elemento do legado = {'nome': 'Nayda Aguilar', 'idade': 44, 'altura': 1.76, 'casado': True}
==============================
elemento do site = {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True}
elemento do legado = {'nome': 'Tara Hyde', 'idade': 48, 'altura': 1.75, 'casado': True}
==============================
elemento do site = {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True}
elemento do legado = {'nome': 'Olivia Cameron', 'idade': 34, 'altura': 1.86, 'casado': True}
==============================
elemento do site = {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True}
elemento do legado = {'nome': 'Ulysses Becker', 'idade': 88, 'altura': 1.54, 'casado': True}
==============================
elemento do site = {'nome': 'Sebastian Gonzalez', 'idade': 87, 'altura': 1.67, 'casado': True}
elemento do legado = {'nome': 'Venus Graves', 'idade': 43, 'altura': 1.56, 'casado': False}

NameError: name 'reposta' is not defined

In [80]:
assert resp == resp_merg

AssertionError:

In [81]:
len(site)

25

In [82]:
len(legado)

25

In [83]:
len(resp)

38

In [84]:
len(resp_merg)

37

In [85]:
t = out(resp, resp_merg)
t

[{'nome': 'Lucy Heath', 'idade': 85, 'altura': 1.84, 'casado': True}]

# EXERCÍCIO 2

## Problema

Crie uma função chamada `métricas` que receba a lista gerada no exercício passado e cálcule as seguintes métricas:

* Média das idades
* A maior idade
* A menor idade
* Percentagem dos não casado e dos casado
* Quantos elementos da lista possuem o nome que inicia com a letra 'D'

A lista que será utilizada nessa função deve conter ao menos 10 elementos.

As respostas devem seguir o seguinte padrão:

```
A média das idade é = 32
A maior idade é = 80
A menor idade é = 15
A porcentagem de casodos é de 45% para 55% de não casado
Existem 3 elementos que começam a letra 'D' na lista
```

## Resolução