# Comandos Auxiliares

## Leitura o Arquivo

In [1]:
# Função de Leitura do Arquivo
import pandas as pd

def read_file(file):
    return pd.read_csv(file)

# Conteúdos estão em uma lista
df = read_file('aula_1.csv')

In [2]:
df.sample(5)

      id first_name  gender  age  married  recently_bought
273  274       Ange  Female   45     True            False
884  885     Garrik  Female   59    False             True
106  107     Zorina    Male   62    False            False
526  527       Agna    Male   55    False             True
142  143      Norah    Male   33    False             True

# Intodução à Lógica de Programação

## Problemas


* Problema 1: Selecionar os clientes com idades entre 18 e 65 anos.
    * Parte 1.1: Selecionar os clientes com idade maior que 18 anos
    
    * Parte 1.2: Selecionar os clientes com idade menor que 65 anos


* Problema 2: Selecionar os clientes que são mulheres.


* Problema 3: Selecionar os clientes que são homens e que são casados, ou os homens que não são casados mas que compraram na loja no último mês.
    * Parte 3.1: Selecionar os clientes que são homens
    * Parte 3.2: Selecionar os clientes que são casados
    * Parte 3.3: Selecionar os clientes que compraram na loja no último mês

## Solução

In [3]:
# Respostas
mulheres = []
homens = []

In [4]:
# Versão Inicial
for index, row in df.iterrows():
    # Condicionais aqui
    if (row['age'] >= 18):
        if (row['age'] <= 65):
            if (row['gender'] == 'Female'):
                mulheres.append(row)
            else:
                if (row['married'] == True):
                    homens.append(row)
                elif (row['recently_bought'] == True):
                    homens.append(row)

In [5]:
mulheres[0]

id                       1
first_name         Kynthia
gender              Female
age                     59
married              False
recently_bought       True
Name: 0, dtype: object

In [6]:
homens[0]

id                       5
first_name         Chrissy
gender                Male
age                     26
married               True
recently_bought      False
Name: 4, dtype: object

In [12]:
# Respostas
mulheres_1 = []
homens_1 = []

In [13]:
# Versão Final
for index, row in df.iterrows():
    # Condicionais aqui
    if (row['age'] >= 18 and row['age'] <= 65):
        if (row['gender'] == 'Female'):
            mulheres_1.append(row)
        elif (row['married'] == True or row['recently_bought'] == True):
                homens_1.append(row)

In [16]:
mulheres_1[0]

id                       1
first_name         Kynthia
gender              Female
age                     59
married              False
recently_bought       True
Name: 0, dtype: object

In [18]:
homens_1[0]

id                       5
first_name         Chrissy
gender                Male
age                     26
married               True
recently_bought      False
Name: 4, dtype: object

# Exemplo do IF

## Estrutura De Teste

In [19]:
lista_clientes = [
    {'id': 1,  'name': 'Pedro',     'gender': 'M', 'age': 32, 'married': True,  'recently_bought': True},
    {'id': 2,  'name': 'Guilherme', 'gender': 'M', 'age': 23, 'married': False, 'recently_bought': True},
    {'id': 3,  'name': 'Volpato',   'gender': 'M', 'age': 85, 'married': True,  'recently_bought': False},
    {'id': 4,  'name': 'Ferraresi', 'gender': 'M', 'age': 83, 'married': False, 'recently_bought': False},
    {'id': 5,  'name': 'Ana',       'gender': 'F', 'age': 29, 'married': True,  'recently_bought': True},
    {'id': 6,  'name': 'Carolina',  'gender': 'F', 'age': 92, 'married': False, 'recently_bought': False},
    {'id': 7,  'name': 'Curvina',   'gender': 'F', 'age': 44, 'married': False, 'recently_bought': False},
    {'id': 8,  'name': 'Ubaldo',    'gender': 'F', 'age': 72, 'married': False, 'recently_bought': False},
    {'id': 9,  'name': 'João',      'gender': 'M', 'age': 28, 'married': False, 'recently_bought': True},
    {'id': 10, 'name': 'Gabriel',   'gender': 'M', 'age': 82, 'married': True,  'recently_bought': True},
]

In [20]:
for cliente in lista_clientes:
    if (cliente['id'] == 1):
        print(cliente)
        break

{'id': 1, 'name': 'Pedro', 'gender': 'M', 'age': 32, 'married': True, 'recently_bought': True}

## Exemplos

### Selecione o cliente caso o nome dele seja Pedro

In [22]:
resposta = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['name'] == 'Pedro'):
        resposta.append(cliente)

In [23]:
resposta

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True}]

### Selecione o cliente caso a idade dele seja maior que 30 anos

In [24]:
resposta = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['age'] > 30):
        resposta.append(cliente)

In [25]:
resposta

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True},
 {'id': 3,
  'name': 'Volpato',
  'gender': 'M',
  'age': 85,
  'married': True,
  'recently_bought': False},
 {'id': 4,
  'name': 'Ferraresi',
  'gender': 'M',
  'age': 83,
  'married': False,
  'recently_bought': False},
 {'id': 6,
  'name': 'Carolina',
  'gender': 'F',
  'age': 92,
  'married': False,
  'recently_bought': False},
 {'id': 7,
  'name': 'Curvina',
  'gender': 'F',
  'age': 44,
  'married': False,
  'recently_bought': False},
 {'id': 8,
  'name': 'Ubaldo',
  'gender': 'F',
  'age': 72,
  'married': False,
  'recently_bought': False},
 {'id': 10,
  'name': 'Gabriel',
  'gender': 'M',
  'age': 82,
  'married': True,
  'recently_bought': True}]

### Selecione os clientes que tenham comprado recentemente

In [26]:
resposta = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['recently_bought']):
        resposta.append(cliente)

In [27]:
resposta

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True},
 {'id': 2,
  'name': 'Guilherme',
  'gender': 'M',
  'age': 23,
  'married': False,
  'recently_bought': True},
 {'id': 5,
  'name': 'Ana',
  'gender': 'F',
  'age': 29,
  'married': True,
  'recently_bought': True},
 {'id': 9,
  'name': 'João',
  'gender': 'M',
  'age': 28,
  'married': False,
  'recently_bought': True},
 {'id': 10,
  'name': 'Gabriel',
  'gender': 'M',
  'age': 82,
  'married': True,
  'recently_bought': True}]

### Selecione os clientes que sejam mulheres e homens em listas separadas

In [28]:
mulheres = []
homens = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['gender'] == 'F'):
        mulheres.append(cliente)
    else:
        homens.append(cliente)

In [29]:
homens

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True},
 {'id': 2,
  'name': 'Guilherme',
  'gender': 'M',
  'age': 23,
  'married': False,
  'recently_bought': True},
 {'id': 3,
  'name': 'Volpato',
  'gender': 'M',
  'age': 85,
  'married': True,
  'recently_bought': False},
 {'id': 4,
  'name': 'Ferraresi',
  'gender': 'M',
  'age': 83,
  'married': False,
  'recently_bought': False},
 {'id': 9,
  'name': 'João',
  'gender': 'M',
  'age': 28,
  'married': False,
  'recently_bought': True},
 {'id': 10,
  'name': 'Gabriel',
  'gender': 'M',
  'age': 82,
  'married': True,
  'recently_bought': True}]

In [30]:
mulheres

[{'id': 5,
  'name': 'Ana',
  'gender': 'F',
  'age': 29,
  'married': True,
  'recently_bought': True},
 {'id': 6,
  'name': 'Carolina',
  'gender': 'F',
  'age': 92,
  'married': False,
  'recently_bought': False},
 {'id': 7,
  'name': 'Curvina',
  'gender': 'F',
  'age': 44,
  'married': False,
  'recently_bought': False},
 {'id': 8,
  'name': 'Ubaldo',
  'gender': 'F',
  'age': 72,
  'married': False,
  'recently_bought': False}]

### Faça a seguinte seleção

Selecione os clientes que são casado e não casados. 
* Dos que são casados, selecione os que compraram e os que não compraram recentemente na loja. 
* Dos não casasdos, separe os que são homens. 
    * Dos homens separados, selecione os que tem idade maior que 35 anos
    * Dos homens separados que não tem idade maior que 35 anos, separe o cliente que tem o nome de Pedro

In [52]:
# respostas
casados = []
nao_casados = []
compraram = []
nao_compraram = []
homens = []
maior_35 = []
joao = []

In [53]:
for cliente in lista_clientes:
    # Condicional aqui
    # Clientes Casados
    if (cliente['married']):
        casados.append(cliente)
        
        # Compraram Recentemente
        if (cliente['recently_bought']):
            compraram.append(cliente)
        else: # Não Compraram Recentemente
            nao_compraram.append(cliente)
            
    else: # Clientes não casados
        nao_casados.append(cliente)
        
        # Clientes que são homens
        if (cliente['gender'] == 'M'):
            homens.append(cliente)
            
            # Homens que idade maior que 35 anos
            if (cliente['age'] > 35):
                maior_35.append(cliente)
            
            # Homens que não tem a idade maior que 35 anos
            elif (cliente['name'] == 'João'): 
                joao.append(cliente)

In [54]:
casados

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True},
 {'id': 3,
  'name': 'Volpato',
  'gender': 'M',
  'age': 85,
  'married': True,
  'recently_bought': False},
 {'id': 5,
  'name': 'Ana',
  'gender': 'F',
  'age': 29,
  'married': True,
  'recently_bought': True},
 {'id': 10,
  'name': 'Gabriel',
  'gender': 'M',
  'age': 82,
  'married': True,
  'recently_bought': True}]

In [55]:
nao_casados

[{'id': 2,
  'name': 'Guilherme',
  'gender': 'M',
  'age': 23,
  'married': False,
  'recently_bought': True},
 {'id': 4,
  'name': 'Ferraresi',
  'gender': 'M',
  'age': 83,
  'married': False,
  'recently_bought': False},
 {'id': 6,
  'name': 'Carolina',
  'gender': 'F',
  'age': 92,
  'married': False,
  'recently_bought': False},
 {'id': 7,
  'name': 'Curvina',
  'gender': 'F',
  'age': 44,
  'married': False,
  'recently_bought': False},
 {'id': 8,
  'name': 'Ubaldo',
  'gender': 'F',
  'age': 72,
  'married': False,
  'recently_bought': False},
 {'id': 9,
  'name': 'João',
  'gender': 'M',
  'age': 28,
  'married': False,
  'recently_bought': True}]

In [56]:
compraram

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True},
 {'id': 5,
  'name': 'Ana',
  'gender': 'F',
  'age': 29,
  'married': True,
  'recently_bought': True},
 {'id': 10,
  'name': 'Gabriel',
  'gender': 'M',
  'age': 82,
  'married': True,
  'recently_bought': True}]

In [57]:
nao_compraram

[{'id': 3,
  'name': 'Volpato',
  'gender': 'M',
  'age': 85,
  'married': True,
  'recently_bought': False}]

In [58]:
maior_35

[{'id': 4,
  'name': 'Ferraresi',
  'gender': 'M',
  'age': 83,
  'married': False,
  'recently_bought': False}]

In [59]:
joao

[{'id': 9,
  'name': 'João',
  'gender': 'M',
  'age': 28,
  'married': False,
  'recently_bought': True}]

# Operadores Lógicos

Utilizando a lista criada no exemplo do *if*, selecione os clientes com base no pedido

In [62]:
lista_clientes = [
    {'id': 1,  'name': 'Pedro',     'gender': 'M', 'age': 32, 'married': True,  'recently_bought': True},
    {'id': 2,  'name': 'Guilherme', 'gender': 'M', 'age': 23, 'married': False, 'recently_bought': True},
    {'id': 3,  'name': 'Volpato',   'gender': 'M', 'age': 85, 'married': True,  'recently_bought': False},
    {'id': 4,  'name': 'Ferraresi', 'gender': 'M', 'age': 83, 'married': False, 'recently_bought': False},
    {'id': 5,  'name': 'Ana',       'gender': 'F', 'age': 29, 'married': True,  'recently_bought': True},
    {'id': 6,  'name': 'Carolina',  'gender': 'F', 'age': 92, 'married': False, 'recently_bought': False},
    {'id': 7,  'name': 'Curvina',   'gender': 'F', 'age': 44, 'married': False, 'recently_bought': False},
    {'id': 8,  'name': 'Ubaldo',    'gender': 'F', 'age': 72, 'married': False, 'recently_bought': False},
    {'id': 9,  'name': 'João',      'gender': 'M', 'age': 28, 'married': False, 'recently_bought': True},
    {'id': 10, 'name': 'Gabriel',   'gender': 'M', 'age': 82, 'married': True,  'recently_bought': True},
]

### 1. Operador E (AND) - Selecione os clientes que sejam casados E que tenham comprado recentemente na loja

In [72]:
resposta_1 = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['married'] == True and cliente['recently_bought'] == True):
        resposta_1.append(cliente)

In [73]:
resposta_1

[{'id': 1,
  'name': 'Pedro',
  'gender': 'M',
  'age': 32,
  'married': True,
  'recently_bought': True},
 {'id': 5,
  'name': 'Ana',
  'gender': 'F',
  'age': 29,
  'married': True,
  'recently_bought': True},
 {'id': 10,
  'name': 'Gabriel',
  'gender': 'M',
  'age': 82,
  'married': True,
  'recently_bought': True}]

### 2. Operador OU (OR) - Selecione os clientes que não sejam casados OU que sejam mulheres

In [76]:
resposta_2 = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['married'] == False or cliente['gender'] == 'F'):
        resposta_2.append(cliente)

In [77]:
resposta_2

[{'id': 2,
  'name': 'Guilherme',
  'gender': 'M',
  'age': 23,
  'married': False,
  'recently_bought': True},
 {'id': 4,
  'name': 'Ferraresi',
  'gender': 'M',
  'age': 83,
  'married': False,
  'recently_bought': False},
 {'id': 5,
  'name': 'Ana',
  'gender': 'F',
  'age': 29,
  'married': True,
  'recently_bought': True},
 {'id': 6,
  'name': 'Carolina',
  'gender': 'F',
  'age': 92,
  'married': False,
  'recently_bought': False},
 {'id': 7,
  'name': 'Curvina',
  'gender': 'F',
  'age': 44,
  'married': False,
  'recently_bought': False},
 {'id': 8,
  'name': 'Ubaldo',
  'gender': 'F',
  'age': 72,
  'married': False,
  'recently_bought': False},
 {'id': 9,
  'name': 'João',
  'gender': 'M',
  'age': 28,
  'married': False,
  'recently_bought': True}]

### 3. Operador de Negação (NOT) - Utilizando o operador de Negação, selecione os clientes que são mulheres e não são casados

In [80]:
resposta_3 = []

for cliente in lista_clientes:
    # Condicional aqui
    if (cliente['gender'] == 'F' and not(cliente['married'] == True) ):
        resposta_3.append(cliente)

In [82]:
resposta_3

[{'id': 6,
  'name': 'Carolina',
  'gender': 'F',
  'age': 92,
  'married': False,
  'recently_bought': False},
 {'id': 7,
  'name': 'Curvina',
  'gender': 'F',
  'age': 44,
  'married': False,
  'recently_bought': False},
 {'id': 8,
  'name': 'Ubaldo',
  'gender': 'F',
  'age': 72,
  'married': False,
  'recently_bought': False}]