# Comandos Auxiliares

## Leitura do Arquivo

In [1]:
# Função de Leitura do Arquivo
import pandas as pd

def read_file(file):
    return pd.read_csv(file)

# Conteúdos estão em uma lista
df = read_file('aula_1.csv')

In [2]:
df.sample(5)

      id first_name  gender  age  married  recently_bought
181  182     Morris  Female   22    False            False
804  805       Lane    Male   23    False            False
788  789    Prissie    Male   35    False            False
465  466     Carree  Female   23    False             True
844  845     Portie  Female   68    False             True

## Introdução à Lógica de Programação

### Problemas

Dentro da nossa base de dados, selecione os clientes que forem maiores de 18 anos e menores de 65 anos. Desses clientes, eu quero que você selecione todas aas mulheres, pois o marketing quer enviar um voucher de 10% para elas. Depois, selecione somente os homens que forem casados, caso não sejam casados, selecione comente os que tiverem feito uma compra no último mês na loja, porque eu quero enviar um voucher de 10% em alguns produtos selecionados. Esses clientes selecionados serão os alvos da nossa campanha de dia das Mulheres.

<ul>
    <li> Problema 1: Selecionar os clientes com idades entre 18 a 65 anos. </li>
    <li> - Parte 1.1: Selecionar os clientes com idade maior que 18 anos</li>
    <li> - Parte 1.2: Selecionar os clientes com idade menor que 65 anos</li> <br>
    <li> Problema 2: Selecionar os clientes que são mulheres.</li> <br>
    <li> Problema 3: Selecionar os clientes que são homens e que são casados, ou os homens que não são casados mas que compraram na loja no último mês.</li>
    <li> - Parte 3.1: Selecionar os clientes que são homens</li>
    <li> - Parte 3.2: Selecionar os clientes que são casados</li>
    <li> - Parte 3.3: Selecionar os clientes que compraram na loja no último mês</li>
    
</ul>

### Solução

In [3]:
# Respostas
mulheres = []
homens = []

In [8]:
# Versão inicial
for index, row in df.iterrows():
    
    # Condicionais aqui
    ## Maiores que 18 anos
    if(row['age'] >= 18):
        ## Menores que 65 anos
        if(row['age'] <= 65):
            
            ## Mulheres
            if(row['gender'] == 'Female'):
                mulheres.append(row)
            else: ## Homens
                if(row['married'] == True):
                    homens.append(row)
                elif(row['recently_bought'] == True):
                    homens.append(row)

In [9]:
mulheres[0]

id                       1
first_name         Kynthia
gender              Female
age                     59
married              False
recently_bought       True
Name: 0, dtype: object

In [10]:
homens[0]

id                       5
first_name         Chrissy
gender                Male
age                     26
married               True
recently_bought      False
Name: 4, dtype: object

## Operadores em Python

### Operadores Aritméticos e Relacionais

#### Operadores Aritméticos

In [11]:
a = 5
b = 2

In [12]:
# Soma
result = a + b
print(result)
print(type(result))

7
<class 'int'>

In [13]:
# Subtração
result = a - b
print(result)
print(type(result))

3
<class 'int'>

In [14]:
# Multiplicação
result = a * b
print(result)
print(type(result))

10
<class 'int'>

In [15]:
# Potecicação
result = a ** b
print(result)
print(type(result))

25
<class 'int'>

In [16]:
# Divisão
result = a / b
print(result)
print(type(result))

2.5
<class 'float'>

In [17]:
# Divisão inteira
result = a // b
print(result)
print(type(result))

2
<class 'int'>

In [18]:
# Resto da Divisão
result = a % b
print(result)
print(type(result))

1
<class 'int'>

#### Operadores Relacionais

In [19]:
a = 5
b = 2

In [20]:
# Maior que
print(a > b)

True

In [21]:
# Maior ou igual que
print(a >= b)

True

In [22]:
# Menor que
print(a < b)

False

In [23]:
# Menor ou igual que
print(a <= b)

False

In [24]:
# Igualdade
print(a == b)

False

In [25]:
# Diferença
print(a != b)

True

### Operadores Lógicos

In [29]:
idade = 32
a = idade >= 18
b = idade <= 65

print(f'O valor de A = {a}')
print(f'O valor de B = {b}')

O valor de A = True
O valor de B = True

In [30]:
if(a and b):
    print('verdadeiro')
else:
    print('falso')

verdadeiro

In [31]:
idade = 16
a = idade >= 18
b = idade <= 65

print(f'O valor de A = {a}')
print(f'O valor de B = {b}')

O valor de A = False
O valor de B = True

In [32]:
if(a and b):
    print('verdadeiro')
else:
    print('falso')

falso

In [33]:
if(a or b):
    print('verdadeiro')
else:
    print('falso')

verdadeiro

In [34]:
# Versão refatorada
for index, row in df.iterrows():
    
    # Condicionais aqui
    ## Maiores que 18 anos e Menores que 65 anos
    if(row['age'] >= 18 and row['age'] <= 65):
            
            ## Mulheres
            if(row['gender'] == 'Female'):
                mulheres.append(row)
            else: ## Homens
                if(row['married'] == True):
                    homens.append(row)
                elif(row['recently_bought'] == True):
                    homens.append(row)

In [36]:
idade = 19
a = not(idade >= 18)
b = idade <= 65

print(f'O valor de A = {a}')
print(f'O valor de B = {b}')

O valor de A = False
O valor de B = True